#white, #black {
    width: 100%;
}

#filter-container {
    margin-bottom: 1rem;
}

.highlight {
    background-color: yellow;
}

#feedback {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}